@charset "UTF-8";
.content {
  width: 1200px;
  margin: 0 auto; }
  .content .c_title {
    height: 57px;
    line-height: 57px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px; }
    .content .c_title a {
      color: #666666;
      font-size: 14px; }
    .content .c_title span {
      color: #666666;
      font-size: 14px;
      padding: 0 8px; }
  .content .c_shoplist {
    margin-top: 18px;
    width: 100%; }
    .content .c_shoplist .s_t1 {
      background-color: #fbfbfb;
      border: 1px solid #e4e4e4;
      height: 40px;
      line-height: 40px; }
      .content .c_shoplist .s_t1 .t1_d1 {
        color: #94193f;
        float: left;
        padding-right: 0px;
        text-align: center;
        width: 86px;
        border-right: 1px solid #e4e4e4;
        margin-right: 10px;
        background-color: #fff; }
      .content .c_shoplist .s_t1 ul {
        float: left;
        padding-left: 20px; }
        .content .c_shoplist .s_t1 ul li {
          float: left;
          text-align: center;
          padding-right: 30px; }
          .content .c_shoplist .s_t1 ul li a {
            color: #999; }
        .content .c_shoplist .s_t1 ul li:nth-of-type(1) span {
          display: inline-block;
          height: 11px;
          margin-left: 3px;
          vertical-align: middle;
          width: 11px;
          background: url(../imgs/icon_list.png) repeat scroll -90px -619px; }
        .content .c_shoplist .s_t1 ul li:nth-of-type(2) span {
          background: url(../imgs/icon_list.png) repeat scroll -157px -652px;
          display: inline-block;
          height: 13px;
          margin-left: 4px;
          vertical-align: middle;
          width: 11px; }
        .content .c_shoplist .s_t1 ul li:nth-of-type(3) span {
          background: url(../imgs/icon_list.png) repeat scroll -157px -652px;
          display: inline-block;
          height: 13px;
          margin-left: 4px;
          vertical-align: middle;
          width: 11px; }
      .content .c_shoplist .s_t1 .t1_d2 {
        float: left;
        overflow: hidden; }
        .content .c_shoplist .s_t1 .t1_d2 input {
          vertical-align: middle;
          margin: 0;
          padding: 0; }
        .content .c_shoplist .s_t1 .t1_d2 label {
          padding-left: 4px;
          padding-top: 0px;
          display: inline-block;
          vertical-align: middle;
          color: #94193f; }
      .content .c_shoplist .s_t1 .t1_d3 {
        float: right;
        padding-right: 10px; }
        .content .c_shoplist .s_t1 .t1_d3 .d3_d1 {
          color: #999999;
          float: left;
          padding-right: 38px; }
          .content .c_shoplist .s_t1 .t1_d3 .d3_d1 div {
            float: left;
            padding-right: 10px; }
            .content .c_shoplist .s_t1 .t1_d3 .d3_d1 div span:nth-of-type(1) {
              color: #c41f3a;
              padding: 0 2px; }
            .content .c_shoplist .s_t1 .t1_d3 .d3_d1 div span:nth-of-type(2) {
              color: #999;
              padding: 0 5px; }
          .content .c_shoplist .s_t1 .t1_d3 .d3_d1 span {
            color: #c41f3a; }
        .content .c_shoplist .s_t1 .t1_d3 ul {
          float: left;
          padding-left: 0px; }
          .content .c_shoplist .s_t1 .t1_d3 ul li {
            float: left;
            color: #999;
            cursor: pointer;
            margin-left: 10px;
            padding-right: 0px; }
    .content .c_shoplist .s_t2 {
      margin-top: 20px; }
      .content .c_shoplist .s_t2 ul li {
        transition: box-shadow 0.7s ease 0s;
        border: 1px solid #e4e4e4;
        float: left;
        margin: 5px 9px 18px 0px;
        padding: 0 0 15px;
        width: 291px;
        height: 360px;
        position: relative; }
        .content .c_shoplist .s_t2 ul li .t2_d1 {
          position: absolute;
          top: 0;
          right: 0;
          width: 80px;
          height: 80px; }
          .content .c_shoplist .s_t2 ul li .t2_d1 img {
            width: 100%; }
        .content .c_shoplist .s_t2 ul li .t2_d2 div:first-child a {
          display: table-cell;
          height: 291px;
          overflow: hidden;
          text-align: center;
          width: 291px;
          vertical-align: middle; }
          .content .c_shoplist .s_t2 ul li .t2_d2 div:first-child a img {
            width: 100%; }
        .content .c_shoplist .s_t2 ul li .t2_d2 div:last-child {
          padding: 0 15px; }
          .content .c_shoplist .s_t2 ul li .t2_d2 div:last-child p:first-child {
            margin-top: 5px;
            overflow: hidden; }
            .content .c_shoplist .s_t2 ul li .t2_d2 div:last-child p:first-child span:first-child {
              color: #94193f;
              font-family: 华文细黑;
              font-size: 20px;
              font-weight: bold; }
            .content .c_shoplist .s_t2 ul li .t2_d2 div:last-child p:first-child span:last-child {
              color: #969696;
              padding-left: 10px; }
          .content .c_shoplist .s_t2 ul li .t2_d2 div:last-child p:last-child {
            margin-top: 5px; }
            .content .c_shoplist .s_t2 ul li .t2_d2 div:last-child p:last-child a {
              font-family: 宋体;
              line-height: 1.4em;
              overflow: hidden;
              display: block;
              color: #434343; }
              .content .c_shoplist .s_t2 ul li .t2_d2 div:last-child p:last-child a span {
                color: #f00; }
      .content .c_shoplist .s_t2 ul li:hover {
        box-shadow: 0 0 5px #e5e5e5;
        border: 1px solid #fff; }
      .content .c_shoplist .s_t2 ul li:nth-of-type(4n) {
        margin-right: 0px; }
    .content .c_shoplist .s_t3 {
      width: 100%;
      overflow: hidden;
      margin-top: 20px;
      text-align: center; }
      .content .c_shoplist .s_t3 .t3_z {
        display: inline-block; }
        .content .c_shoplist .s_t3 .t3_z ul li {
          float: left;
          cursor: pointer;
          margin-left: 10px; }
        .content .c_shoplist .s_t3 .t3_z ul li:nth-of-type(1) {
          background-color: #fff;
          color: #fff;
          display: block;
          font-size: 18px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          width: 80px; }
          .content .c_shoplist .s_t3 .t3_z ul li:nth-of-type(1) span {
            font-family: 宋体;
            font-size: 13px;
            display: block;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border: 1px solid #cccccc;
            color: #787878;
            width: 80px; }
            .content .c_shoplist .s_t3 .t3_z ul li:nth-of-type(1) span span {
              vertical-align: middle;
              background: url(../imgs/uc_icon_list.png) no-repeat scroll -271px -254px;
              color: #6d6d6d;
              display: inline-block;
              height: 40px;
              width: 8px;
              border: 0px; }
        .content .c_shoplist .s_t3 .t3_z ul li:nth-of-type(2) {
          color: #93193e; }
          .content .c_shoplist .s_t3 .t3_z ul li:nth-of-type(2) span {
            border: 1px solid #fff;
            color: #94193f;
            height: 42px;
            line-height: 42px;
            text-align: center;
            width: 40px; }
        .content .c_shoplist .s_t3 .t3_z ul li:nth-of-type(3) {
          background-color: #fff;
          color: #fff;
          display: block;
          font-size: 18px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          width: 80px; }
          .content .c_shoplist .s_t3 .t3_z ul li:nth-of-type(3) span {
            font-family: 宋体;
            font-size: 13px;
            display: block;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border: 1px solid #cccccc;
            color: #787878;
            width: 80px; }
            .content .c_shoplist .s_t3 .t3_z ul li:nth-of-type(3) span span {
              vertical-align: middle;
              margin-left: 3px;
              background: url(../imgs/uc_icon_list.png) no-repeat scroll -271px -282px;
              color: #6d6d6d;
              display: inline-block;
              height: 40px;
              width: 8px;
              border: 0px; }
