@charset "utf-8";
/* CSS Document */
body,div,p,ul,ol,li,dl,dt,dd,table,tr,td,form,hr,h1,h2,h3,h4,h5,h6,img,input{
    margin:0;
    padding:0;
}
body{
    font-family:"微软雅黑",Arial;
    font-size: 12px;
}
a{
    text-decoration:none;
}
ul,ol{
    list-style:none;
}
img,input{
    border: 0;
}
//头部
.header{
    width: 100%;
    background-color: #fff;
    .h_z{
        width: 1000px;
        height: 68px;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 19px;
        .h_z_left{
            float: left;
            width: 74px;
            margin-right: 7px;
            a{
                height: 68px;
                img{
                    width: 72px;
                    height: 68px;
                }
            }
        }
        .h_z_rigth{
            float: right;
            margin-top: 19px;
        }
    }
}