//底部
.footer{
    width: 100%;
    height: 601.5px;
    background-color: #fff;
    margin-top: 25px;
    .footer_img{
        width: 1000px;
        height: 137.5px;
        border-bottom: 1px solid #d7d7d7;
        margin: 0 auto;
        img{
            width: 100%;
            height: 137.5px;
        }
    }
    .footer_hlep{
        width: 1000px;
        height: 152px;
        margin: 0 auto;
        padding-top: 40px;
        .f_h_left{
            width: 760px;
            height: 119px;
            float: left;
            .f_h_l_dl{
                float: left;
                padding: 0 47px 0 40px;
                dt{
                    font-size: 14px;
                    font-weight: normal;
                    height: 31px;
                    color: #666666;
                }
                dd{
                    a{
                        color: #666;
                        font-size: 12px;
                        height: 22px;
                        line-height: 22px; 
                    }
                }
            }
        }
        .f_h_right{
            width: 240px;
            height: 152px;
            float:right;
            ul{
                li{
                    float: left;
                    width: 100px;
                    margin-right: 20px;
                    text-align: center;
                    h2{
                        color: #333333;
                        font-size: 14px;
                        font-weight: 600;
                        height: 31px;
                    }
                    img{
                        width: 100%;
                    }
                    p{
                        font-size: 14px;
                        color: #666666;
                    }
                }
            }
        }
    }
    .footer_nav{
        border-bottom: 4px solid #a90202;
        margin-top: 45px;
        .f_n_Nr{
            width: 720px;
            height: 36px;
            margin: 0 auto;
            text-align: center;
            ul{
                li{
                    display: inline-block;
                    height: 35px;
                    line-height: 35px;
                    padding-right: 12px;
                    a{
                        font-size: 12px;
                        font-family: "宋体";
                        color: #666666;
                    }
                    span{
                        height: 14px;
                        margin-left: 14px;
                        background-color: #dfdfdf;
                        border-right: 1px solid #a9a9a9;
                        width: 1px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
    .footer_bottom{  
        .f_b_z{
            width: 1000px;
            height: 186px;
            margin: 0 auto;
            .f_b_z_p1{
                padding-top: 10px;
                text-align: center;
                font-family: "宋体";
                color: #7e7e7e;
                line-height: 25px;
                span{
                        font-family: Arial;
                        color: #666666;
                }
                .f_b_z_a1{
                    color: #7e7e7e;
                }
                .f_b_z_a2{
                    color: #434343;
                    font-family: "微软雅黑";
                    vertical-align: top;
                }
            }
            .f_b_z_p2{
                text-align: center;
                padding: 30px 0 40px 0;
            }
        }
    }
}