@charset "utf-8";
/* CSS Document */
body,div,p,ul,ol,li,dl,dt,dd,table,tr,td,form,hr,h1,h2,h3,h4,h5,h6,img,input{
    margin:0;
    padding:0;
}
body{
    font-family:"微软雅黑",Arial;
    font-size: 12px;
    background-color: #fbfbfb;
}
a{
    text-decoration:none;
}
ul,ol{
    list-style:none;
}
img,input{
    border: 0;
}
img{
    display: inline-block;
}
//顶部
.header{
    width: 100%;
}
.header_top{
   width: 100%; 
   height: 36px;
   border-top: 1px solid #dfdfdf;
   border-bottom: 1px solid #dfdfdf;
   background-color: #fafafa;
}
.header_topz{
    width: 1000px;
    height: 36px;
    line-height: 36px;
    margin: 0 auto;
}
.header_topz a{
    float: left;
    color: #8c8c8c;
}
.h_t_left{
    float: left;
    position: relative;
}
.h_t_l_hy{
    display: inline-block;
}
.h_t_l_dl{
    display: inline-block;
    padding: 0 10px 0 20px;
}
.h_t_l_zc{
    display: inline-block;
    padding-left: 8px;
}
.h_t_l_zc_nr{
    color: #fff;
    position: absolute;
    top: 32px;
    left: 173px;
    width: 214px;
    height: 34px;
    background: url(../imgs/add_r_tips.png) no-repeat 0 0;
}
.h_t_l_zc_nr p{
    margin-top: 4px;
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
}
.h_t_l_zc_nr_cha{
    cursor: pointer;
    position: absolute;
    width: 10px;
    height: 15px;
    background: url(../imgs/add_r_tips.png) -201.5px -41px;
    right: 5px;
    top: 16px;
}
.h_t_right{
    float: right;
    position: relative;
}
.h_t_right a{
    padding: 0 12px;
}
.xsj1{
    background: url(../imgs/icon_list.png) no-repeat scroll -157px -696px;
    height: 6px;
    width: 10px;
    margin-left: 5px;
    display: inline-block;
}
.h_t_right a:nth-of-type(1){
    border-left: 1px solid #fbfbfb;
    border-right: 1px solid #fbfbfb;
    box-sizing: border-box;
    padding-right: 17px;
}
.h_t_right a:nth-of-type(4){
    padding-left: 0px;
}
.h_t_right a:nth-of-type(6){
    border-left: 1px solid #fbfbfb;
    border-right: 1px solid #fbfbfb;
    margin-left: 5px;
    box-sizing: border-box;
}
#h_t_r_div1{
    position: absolute;
    top: 35px;
    left: 0px;
    height: 72px;
    width: 92px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    a{
        font-family: "宋体";
        padding: 0 10px;
        line-height: 36px;
        display: inline-block;
        vertical-align: middle;
        color: #8c8c8c;
    }
}
#h_t_r_div2{
    position: absolute;
    top: 35px;
    left: 480px;
    height: 52px;
    width: 87px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    z-index: 9;
    a{
        font-family: "宋体";
        padding: 0 10px;
        line-height: 26px;
        display: inline-block;
        vertical-align: middle;
        color: #8c8c8c;
    }
}

.dh{
    background: url(../imgs/icon_list.png) no-repeat 0 -38px;
    width: 14px;
    height: 13px;
    margin: 0 4px 0 10px;
    display: inline-block;
    vertical-align: middle;
}
.xsj2{
    background: url(../imgs/icon_list.png) no-repeat scroll -157px -696px;
    height: 6px;
    width: 10px;
    margin-left: 5px;
    display: inline-block;
}
.h_t_right_sx{
    float: left;
    width: 1px;
    height: 14px;
    margin: 11px 0;
    background-color: #dfdfdf;
}

.header_center{
    width: 100%;
}
.header_centerz{
    width: 1000px;
    height: 75px;
    margin: 30px auto 19px;   
}
.h_c_logo{
    float: left;
    margin-right: 7px;
}
.h_c_logo a img{
    width: 58px;
}
.h_c_zty{
    float: left;
    width: 438px;
    margin-right: 10px;
    padding-top: 18px;
}
.h_c_ssk{
    width: 360px;
    height: 75px;
    float: left;
}
.h_c_ssk_k{
    width: 355px;
    height: 35px;
    border: 3px solid #94193f;
    margin-top: 5px;
}
.ssk_k_f{
    width: 355px;
    height: 35px;
}
.ssk_k_f1{
    float: left;
    width: 305px;
    height: 19px;
    padding: 8px 0;
    text-indent: 8px;
    outline: 0;
}
.ssk_k_f2{
    float: left;
    width: 50px;
    height: 35px;
    background-color: #94193f;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
.h_c_ssk_nr{
    width: 360px;
    height: 25px;
    line-height: 25px;
    margin-top: 4px;
}
.h_c_ssk_nr a{
    float: left;
    color: #8c8c8c;
    padding: 0 5px 0 0;
}
.h_c_gwc{
    width: 112px;
    height: 41px;
    float: right;
    margin-top: 5px;
}
.gwc_a{
    float: left;
    width: 110px;
    height: 39px;
    border: 1px solid #d8d8d8;
    text-align: center;
    line-height: 39px;
    background-color: #f9f9f9;
    position: relative;
}
.gwc_a_s1{
    float: left;
    width: 21px;
    height: 15px;
    background: url(../imgs/icon_list.png) no-repeat -184px -736px;
    margin: 12px 0 0 5px;
}
.gwc_a_s2{
    float: left;
    color: #666666;
}
.gwc_a_s3{
    float: right;
    width: 13px;
    height: 11px;
    background: url(../imgs/icon_list.png) no-repeat -270px -737px;
    margin: 14px 7px 0 0;
}
.gwc_a_s4{
    position: absolute;
    top: -4px;
    right: 20px;
    width: 16px;
    height: 16px;
    background-color: #94193f;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
    color: #fff;
}

.header_bottom{
    width: 100%;
    height: 39px;
    line-height: 39px;
    border-bottom: 2px solid #94193F;
}
.header_bottomz{
    width: 1000px;
    height: 39px;
    margin: 0 auto;
}
.header_bottomz ul li{
    float: left;
    height: 39px;
    padding: 0 30px;
}
.header_bottomz ul li a{
    color: #303030;
    font-size: 16px;
}
.header_bottomz li:nth-of-type(1){
    width: 215px;
    padding: 0;
    text-align: center;
    background-color: #94193f;
}
.header_bottomz li:nth-of-type(1) a{
    color: #fff;
    font-size: 16px;
    float: left;
    padding-left: 55px;
    letter-spacing: 2px;
    position: relative;
}
.h_b_span1{
    background: url(../imgs/icon_list.png) no-repeat -36px -128px;
    float: right;
    height: 8px;
    width: 16px;
    position: absolute;
    right: -76px;
    top: 18px;
}
.header_bottomz li:nth-of-type(2){
    width: 32px;
    padding: 0 30px 0 60px;
}
.header_bottomz li:nth-of-type(2) a{
    color: #94193F;
    font-weight: bold;
}
.h_b_d{
    position: relative;
    left: 56px;
    top: -40px;
}
.h_b_d img{
    position: absolute;
    width: 30px;
    height: 18px;
}

//底部
.footer{
    width: 100%;
    height: 601.5px;
    background-color: #fff;
    margin-top: 25px;
    .footer_img{
        width: 1000px;
        height: 137.5px;
        border-bottom: 1px solid #d7d7d7;
        margin: 0 auto;
        img{
            width: 100%;
            height: 137.5px;
        }
    }
    .footer_hlep{
        width: 1000px;
        height: 152px;
        margin: 0 auto;
        padding-top: 40px;
        .f_h_left{
            width: 760px;
            height: 119px;
            float: left;
            .f_h_l_dl{
                float: left;
                padding: 0 47px 0 40px;
                dt{
                    font-size: 14px;
                    font-weight: normal;
                    height: 31px;
                    color: #666666;
                }
                dd{
                    a{
                        color: #666;
                        font-size: 12px;
                        height: 22px;
                        line-height: 22px; 
                    }
                }
            }
        }
        .f_h_right{
            width: 240px;
            height: 152px;
            float:right;
            ul{
                li{
                    float: left;
                    width: 100px;
                    margin-right: 20px;
                    text-align: center;
                    h2{
                        color: #333333;
                        font-size: 14px;
                        font-weight: 600;
                        height: 31px;
                    }
                    img{
                        width: 100%;
                    }
                    p{
                        font-size: 14px;
                        color: #666666;
                    }
                }
            }
        }
    }
    .footer_nav{
        border-bottom: 4px solid #a90202;
        margin-top: 45px;
        .f_n_Nr{
            width: 720px;
            height: 36px;
            margin: 0 auto;
            text-align: center;
            ul{
                li{
                    display: inline-block;
                    height: 35px;
                    line-height: 35px;
                    padding-right: 12px;
                    a{
                        font-size: 12px;
                        font-family: "宋体";
                        color: #666666;
                    }
                    span{
                        height: 14px;
                        margin-left: 14px;
                        background-color: #dfdfdf;
                        border-right: 1px solid #a9a9a9;
                        width: 1px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
    .footer_bottom{  
        .f_b_z{
            width: 1000px;
            height: 186px;
            margin: 0 auto;
            .f_b_z_p1{
                padding-top: 10px;
                text-align: center;
                font-family: "宋体";
                color: #7e7e7e;
                line-height: 25px;
                span{
                        font-family: Arial;
                        color: #666666;
                }
                .f_b_z_a1{
                    color: #7e7e7e;
                }
                .f_b_z_a2{
                    color: #434343;
                    font-family: "微软雅黑";
                    vertical-align: top;
                }
            }
            .f_b_z_p2{
                text-align: center;
                padding: 30px 0 40px 0;
            }
        }
    }
}
