.mainbody{
    width: 980px;
    height: 600px;
    margin: 0 auto;
    .m_b_z{
        overflow: hidden;
        .m_b_z_l{
            float: left;
            width: 600px;
            text-align: center;
            padding-top: 30px;
            img{
                width: 560px;
                height: 360px;
            }
        }
        .m_b_z_r{
            float: left;
            width: 367px;
            height: 600px;
            background: url(../imgs/login_icon_list.png) 0 -115px no-repeat;
            .login{
                padding: 0 33px;
                .l_title{
                    height: 38px;
                    padding-top: 23px;
                    padding-bottom: 26px;
                    h2{
                        color: #c41f3a;
                        font-size: 22px;
                        height: 38px;
                        line-height: 38px;
                        font-weight: bold;
                        float: left;
                    }
                    div{
                        float: right;
                        height: 38px;
                        line-height: 38px;
                        text-align: right;
                        color: #8c8c8c;
                        a{
                            color: #c41f3a;
                        }
                    }
                }
                .l_method{
                    padding: 0 0 10px 0;
                    text-align: left;
                    .s_radio{
                        padding-right: 45px;
                        input{
                            vertical-align: middle;
                        }
                        label{
                            vertical-align: middle;
                            padding-left: 5px;
                        }
                    }
                }
                .l_nr{
                    width: 301px;
                    form{
                        div{
                            margin-bottom: 10px;
                            position: relative;
                        }
                        .f_div1{
                            input{
                                color: #333333;
                                border: 1px solid #c8c8c8;
                                height: 25px;
                                line-height: 25px;
                                padding-left: 6px;
                                width: 293px;
                                padding: 7px 0 7px 6px;
                            }
                            div{
                                height: 23px;
                                line-height: 23px;
                                margin-bottom: 3px;
                                div{
                                    color: #8c8c8c;
                                }
                            }
                        }
                        .f_div2{
                            input{
                                color: #333333;
                                border: 1px solid #c8c8c8;
                                height: 25px;
                                line-height: 25px;
                                padding-left: 6px;
                                width: 157px;
                                padding: 7px 0 7px 6px;
                            }
                            a{
                                margin-left: 11px;
                                color: #444444;
                                font-family: "宋体";
                                font-weight: bold;
                                text-align: center;
                                outline: 0;
                                display: inline-block;
                                background-color: #f6f6f6;
                                border: 1px solid #c8c8c8;
                                width: 117px;
                                height: 38px;
                                line-height: 38px;
                                vertical-align: top;
                                div{
                                    height: 38px;
                                    line-height: 38px;
                                    margin-bottom: 0px;
                                }
                            }
                            div{
                                height: 23px;
                                line-height: 23px;
                                margin-bottom: 3px;
                                div{
                                    color: #c4203b;
                                    padding: 0;
                                    position: relative;
                                    height: 23px;
                                    line-height: 23px;
                                    text-align: left;
                                    width: 275px;
                                    span{
                                        background: url(../imgs/login_icon_list.png) no-repeat 0 0;
                                        width: 18px;
                                        height: 18px;
                                        display: inline-block;
                                        vertical-align: middle;
                                    }
                                }
                            }
                        }
                        .f_div4{
                            .f_d_a{
                                display: block;
                                width: 310px;
                                height: 40px;
                                color: #fff;
                                line-height: 40px;
                                background-color: #94193f;
                                text-align: center;
                                font-size: 14px;
                                font-family: "宋体";
                                font-weight: bold;
                            }
                            div{
                                padding-top: 5px;
                                input{
                                    vertical-align: middle;
                                }
                                label{
                                    color: #767676;
                                    padding-left: 6px;
                                    a{
                                        color: #c41f3a;
                                    }
                                }
                            }
                        }
                    }
                }
                .zh_login{
                    ul{
                        margin-top: 10px;
                        li{
                            display: inline-block;
                            margin-right: 10px;
                            a{
                                display: block;
                                width: 50px;
                                height: 50px;
                                background: url(../imgs/login_icon_list.png) 0 0;
                            }
                        }
                        li:nth-of-type(1) a{
                            background-position: 0 -32px;
                        }
                        li:nth-of-type(2) a{
                            background-position: -74px -32px;
                        }
                        li:nth-of-type(3) a{
                            background-position: -143px -32px;
                        }
                    }
                }
            }
        }
    }
}