@charset "utf-8";
/* CSS Document */
body,div,p,ul,ol,li,dl,dt,dd,table,tr,td,form,hr,h1,h2,h3,h4,h5,h6,img,input{
    margin:0;
    padding:0;
}
body{
    font-family:"微软雅黑",Arial;
    font-size: 12px;
}
a{
    text-decoration:none;
}
ul,ol{
    list-style:none;
}
img,input{
    border: 0;
}
//头部
.header{
    width: 100%;
    background-color: #fff;
    .h_z{
        width: 1000px;
        height: 68px;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 19px;
        .h_z_left{
            float: left;
            width: 74px;
            margin-right: 7px;
            a{
                height: 68px;
                img{
                    width: 72px;
                    height: 68px;
                }
            }
        }
        .h_z_rigth{
            float: right;
            margin-top: 19px;
        }
    }
}
//主体部分
.mainbody{
    width: 980px;
    height: 600px;
    margin: 0 auto;
    .m_b_z{
        .m_b_z_l{
            float: left;
            width: 600px;
            text-align: center;
            padding-top: 50px;
            img{
                width: 560px;
                height: 360px;
            }
        }
        .m_b_z_r{
            float: left;
            width: 367px;
            height: 600px;
            background: url(../imgs/login_icon_list.png) 0 -115px no-repeat;
            .login{
                padding: 0 33px;
                .l_title{
                    height: 38px;
                    padding-top: 23px;
                    padding-bottom: 26px;
                    h2{
                        color: #c41f3a;
                        font-size: 22px;
                        height: 38px;
                        line-height: 38px;
                        font-weight: bold;
                        float: left;
                    }
                    div{
                        float: right;
                        height: 38px;
                        line-height: 38px;
                        text-align: right;
                        color: #8c8c8c;
                        a{
                            color: #c41f3a;
                        }
                    }
                }
                .l_nr{
                    width: 301px;
                    form{
                        div{
                            margin-bottom: 10px;
                            position: relative;
                        }
                        .f_div1{
                            input{
                                color: #333333;
                                border: 1px solid #c8c8c8;
                                height: 25px;
                                line-height: 25px;
                                padding-left: 6px;
                                width: 293px;
                                padding: 7px 0 7px 6px;
                            }
                            div{
                                height: 23px;
                                line-height: 23px;
                                margin-bottom: 3px;
                                div{
                                    color: #8c8c8c;
                                }
                            }
                        }
                        .f_div2{
                            input{
                                color: #333333;
                                border: 1px solid #c8c8c8;
                                height: 25px;
                                line-height: 25px;
                                padding-left: 6px;
                                width: 157px;
                                padding: 7px 0 7px 6px;
                            }
                            a{
                                margin-left: 11px;
                                color: #444444;
                                font-family: "宋体";
                                font-weight: bold;
                                text-align: center;
                                outline: 0;
                                display: inline-block;
                                background-color: #f6f6f6;
                                border: 1px solid #c8c8c8;
                                width: 117px;
                                height: 38px;
                                line-height: 38px;
                                vertical-align: top;
                                div{
                                    height: 38px;
                                    line-height: 38px;
                                    margin-bottom: 0px;
                                }
                            }
                            div{
                                height: 23px;
                                line-height: 23px;
                                margin-bottom: 3px;
                                div{
                                    color: #c4203b;
                                    padding: 0;
                                    position: relative;
                                    height: 23px;
                                    line-height: 23px;
                                    text-align: left;
                                    width: 275px;
                                    span{
                                        background: url(../imgs/login_icon_list.png) no-repeat 0 0;
                                        width: 18px;
                                        height: 18px;
                                        display: inline-block;
                                        vertical-align: middle;
                                    }
                                }
                            }
                        }
                        .f_div3{
                            input{
                                color: #333333;
                                border: 1px solid #c8c8c8;
                                height: 25px;
                                line-height: 25px;
                                padding-left: 6px;
                                width: 157px;
                                padding: 7px 0 7px 6px;
                            }
                            div{
                                height: 23px;
                                line-height: 23px;
                                margin-bottom: 3px;
                                div{
                                    color: #8c8c8c;
                                }
                            }
                        }
                        .f_div4{
                            .f_d_a{
                                display: block;
                                width: 310px;
                                height: 40px;
                                color: #fff;
                                line-height: 40px;
                                background-color: #94193f;
                                text-align: center;
                                font-size: 14px;
                                font-family: "宋体";
                                font-weight: bold;
                            }
                            div{
                                padding-top: 5px;
                                input{
                                    vertical-align: middle;
                                }
                                label{
                                    color: #767676;
                                    padding-left: 6px;
                                    a{
                                        color: #c41f3a;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
